{%extends "base.html"%}

{%block title%}Home{% endblock %}

{%block body%}
    <div class="jumbotron">
        <h1>Motodex.co</h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>A Network for Automotive Enthusiasts</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>We know cars</h3>
            <p>While there are many other sites out there for prospective car buyers, most offer little in the way of individual customization.</p>
            <p>Motodex is a community-oriented resource that helps you find the best deals, and rare 'barn find' vehicles from across the internet.</p>
        </div>

        <div class="col-md-4">
            <h3>Find your dream ride</h3>
            <p>Tired of searching on site after site? Motodex is your source for curated listings from ebaymotors, autotrader, and more. </p>
            <p>Automotive listings are ranked using a reputation-weighted voting algorithm so you can find the top deals easily.</p>
        </div>

        <div class="col-md-4">
            <h3>Social features</h3>
            <p>Are you an automotive niche influencer on social media? Find out how you can easily transfer your reputation to Motodex.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>What car should I buy?</h3>
            <p>We've got you covered. If you are a first-time buyer or hardcore gearhead, there's something here for you.</p>
        </div>

 
    </div>
{%endblock%}